/tmp
/node-storage
/log
/export
/output
/lib
/etc/ivy/ivy.jar
/service
.DS_Store
.DS_Store*
/.idea
etc/launcher-configuration.ini
etc/i5.las2peer.services.mobsos.successModeling.MonitoringDataProvisionService.properties
etc/launcher-configuration.ini
measure_catalogs/*
success_models/*
